language: python
python:
- '2.7'
- '3.5'
- '3.6'
- '3.7'
install:
- python setup.py install
- pip install pylint
script:
- pylint ./tar_progress/ --rcfile=pylint.rc
deploy:
  provider: pypi
  user: __token__
  server: https://upload.pypi.org/legacy/
  password:
    secure: ou7vDesGKRFnS3xXkv8QJVVtansoktrD32RX3xNw8E4TVCRZ8LIANcjWXKDHXxG0f2422s9qLBwZIwGtNf0rIcQ2C3O2gJV6jYYsmlMnBTiX2AnwisqPlYXT+bfH3wnA5yCafpJVfhVxGoaeYspid9yEcNOEBLj/mFFj5OVnuSGM6Qdfl90iY3zch8ekMoh5jALAHo19mEWASFvHt05mg610xcReTvodpSocCGKFP9Ok1y6yhtcIAdoqHZdezZi/bAMXxPiU/U+hvISChjGrzNOpyk0o+PIsvkYtbm1Jc2S8ODSSl3eyZZAdvOC2QCr+l+mSf6yrhqnEk53GFaTs24ES6X7wVxBr0oK7UYLils/li0UUHvZlBcZFFh2u1zX8YlFB5awEvhfw7BT+mb9ltMreWVxadyYVoy+DApoiPafYqoytSbu4tDOVQsq0Xx+jnqEB4fXomZfLxwr8mLxIvbsUgDp1xMyihuEZZ7Ly5VXMkZxS2bZx1/QSLMMdLt3jJ1h+R9Ar/1xS6dwFe0Gxgkes2uAV1KONGLdN0wGJXquKJGKDs0rENy0/f066Vjw1GUuDG8xLMP2koB2c6fHpy8qajObyulmwgxQUa8RqVyOortLiqGi738kCGtNHEypUaATCamU+/OE4cqPQswMyAwyAgX7AGScoW6c2wsKGaqs=
  distributions: bdist_wheel
  skip_existing: true
  skip_cleanup: true
